
html, body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
    margin: 0px;
    background-color: #F9F9F9;
}

/* 

Color Pallette

#F9F9F9 - purple'y off-white .. Page bg

#FEDCD2 - peach .. Nav bg

#8FD8D2

#F0EBF4 - more purpl'y off-white .. nav title (pos swp for secondary)





*/

.Nav {
    background-color: #FEDCD2;
    overflow: auto;
    padding: 10px;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    color: #F0EBF4
}

.secondary-title {
    color: #8FD8D2;
}

/* Search Box CSS */

.search-container {
    margin-top: 50px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form {
    width: 40vw;
}

.search-input {
    width: 100%; /* stretch to full width of container div */
    /* display:inline-block; */
    padding: 20px;
    /* border-radius: 30px; */
    font-size: 1.5em;
}

.search-input:focus {
    outline: none;
    border-radius: 5px;
}

.outer-results-container {
    text-align: center;
}

.results-container {
    display: inline-block;
    width: 70%;
    text-align: left;
    font-size: 2em;
}